includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app
        - routes

    # The level 9 is the highest level
    level: 1

    ignoreErrors:
        # level 5
        - '#Unsafe usage of new static#'

    excludePaths:
        - config
        - routes/console.php
        - tests

    # https://phpstan.org/config-reference#vague-typehints
    checkMissingIterableValueType: false

    # https://github.com/nunomaduro/larastan/blob/master/docs/rules.md#configuration-2
    checkModelProperties: true

    # https://github.com/nunomaduro/larastan/blob/master/docs/rules.md#configuration
    noModelMake: true

    earlyTerminatingFunctionCalls:
    - rd

